$background-color: gray;
$text-color: black;
$heading-text-color: black;
$cellback:whitesmoke;
$cellback-gray:#DEDEDE;
$cell-border-color:black;
$heading-bg-color:#C1DEAD;
$caption-bg-color:green;
$caption-border-color:white;
//$table-width: 1000px;
$table-width: 80%;
$caption-text-color:white;