html {
  background-color: gray; }

body {
  display: flex;
  justify-content: center;
  width: 100%; }

p {
  font-family: 'Lato', sans-serif; }

#app {
  width: 100%; }

h1 {
  margin: 1% 40%;
  font-family: 'Cambay', sans-serif; }

#fccimage {
  margin-left: 20px;
  padding: 15px 0px 10px 0px; }

#img-div {
  margin-bottom: 40px;
  background-color: green; }

table {
  margin: auto;
  width: 80%;
  border: 2px solid black;
  border-collapse: collapse; }

caption {
  margin-bottom: 20px;
  background-color: green; }
  caption h1 {
    margin: 20px;
    color: white; }

th {
  height: 50px;
  font-weight: bold;
  background-color: #C1DEAD;
  color: black;
  border: 2px solid black;
  border-collapse: collapse;
  font-family: 'Lato', sans-serif; }
  th:nth-child(3), th:last-child {
    cursor: pointer; }

td {
  padding: 10px;
  color: black;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid black;
  font-family: 'Lato', sans-serif;
  /*
  &:nth-child(2n){
    background-color: $cellback-gray;
  }*/ }

tbody {
  background-color: whitesmoke; }

tr:nth-child(2n) {
  background-color: #DEDEDE; }

/*
.cells {

  td {
    padding: 10px;
    color: $text-color;
    border: 1px solid $cell-border-color;
  }

  th {
    height: 10px;
    font-weight: bold;
    background-color: $heading-bg-color;
    color: $heading-text-color;
    border: 2px solid $cell-border-color;
  }

}*/
